.alert-positive,
.alert-negative {
  position: absolute;
  top: 10px;
  right: 25px;
  background-color: #ffffff;
  color: #5e5e5e;
  border: 1px solid #00f329;
  padding: 5px 15px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: 0 0 100px hsla(130, 100%, 50%, 0.4);
  opacity: 1;
  animation: fadeInOut 3s forwards;
}
.alert-negative {
  border: 1px solid #f30000;
  box-shadow: 0 0 100px rgb(243, 0, 0, 0.4);
}
@media (min-width: 768px) {
  .alert-positive,
  .alert-negative {
    top: 50px;
    right: 20px;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  10% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
